<link rel="stylesheet" href="<%=assetPath('scss/chatbox.css')%>">
<div id="chat-box">
    <div id="chat-box-header">
      <i class="fa-solid fa-xmark"></i>
    </div>
    <div id="chat-box-messages">
      <ul id="message-list">
        <li class="friend-message">hi im your friend dfhbhdherergr grrgdhf dfgbhgh jyhv kjbjh g</li>
        <li class="your-message">hi its me</li>
      </ul>
    </div>
    <div id="message-bar">
        <input id="message-input"/>
      <button id="message-send-button"><b>Send</b></button>
    </div>
</div>