<h1>Reset your password</h1>
<form action="/users/reset_password/<%=token.accessToken%>" method="post">
    <input type="password" name="password" placeholder="New password">
    <input type="password" name="confirm_password" placeholder="Confirm new password">
    <input type="submit" value="Reset password">
</form>