<h1>sign in page</h1>
<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Sign In">
</form>
<a href="/users/forgot_password">Forgot password?</a>
<a href="/users/auth/google">Sign in /Sing up using google</a>